@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shizuru&display=swap');

body{

	margin: 0;
}



header{

	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(bild1.jpg);
	background-size: cover;
	background-position: center;



}
header h1{

	padding: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	color: darkcyan;
	font-family: Shizuru;
}

main{
	padding: 100px;
	background: rgb(72,161,166);
background: linear-gradient(346deg, rgba(72,161,166,1) 39%, rgba(211,223,147,1) 57%, rgba(211,223,147,1) 68%);
}

main p{
	column-count: 2;
	color: white;
	padding: 30px;
	background-color: darkcyan;

}

.hobby{


	height: 300px;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(230, 227, 135);
}

footer{
	height: 400px;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(bild2.jpg);
	font-family: Lobster;
}
footer p{


	padding: 30px;
	color: white;
	background-color: rgba(36, 146, 166);
	border-radius: 20px;
}