@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');
body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: lightblue ;
	font-family: Lato;
}
article{

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

article .image {
	height: 200px;
	width: 300px;
	background-image: url(bild1.jpg);
	background-size: cover;
	background-position: center;
	padding: 30px;
}
article .text{
	height: 200px;
	width: 300px;
	background: rgb(22,64,135);
	background: linear-gradient(282deg, rgba(22,64,135,1) 50%, rgba(84,177,204,1) 80%);
	padding: 30px;
	display: flex;
	justify-content: space-between;
	flex: start;
	flex-direction: column;
	

}
article .text h1{

position: absolute;
background-color: darkblue;
color: white;
padding: 12px;
left: 250px;
top: 50px;
z-index: 100;


}
article .text h2{
	
	background-color: white;
	color: blue;
	font-size: 40px;
	padding: 10px;
	font-family: Roboto;

	text-transform: uppercase;
	position: absolute;
	left: 400px;
	top: 80px;
	
}
