h1 {  
	color: springgreen;
	font-size: 30px;
	background-color: darkgreen;
	margin: 40px;
 }

 p {


 	color: seagreen;
 	font-size: 20px;
 	margin: 30px;


 }
 img { 

 margin: 60px;
 width: 300px;
 padding: 10px; }


