@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

#u1 {
	font-size: 40px;
	background-color: cyan;
	height: 150px;
	width: 250px;

	
}

#u2{
	font-size: 25px;
	background-color:#fcee83;
	
}

 #u3{
 	background-color:#db655e ;
 	font-size: 25px;
 	height: 600px;
 	width: 75px;
 }
 body{
 	font-family: Lato;
 }
 img{
 	height: 150px;
	width: 250px;
	display: flex;

 }