<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Template</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav>
<img src="logo.png" alt="Logo">

<ul>
		<li><a href="index.html">Projects</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="contact.html">Contact</a></li>
		</ul>

	</ul>
</nav>
	<section> 

<div style="background-image:url(cat8.jpg);">
<p>Summer House</p></div>
<div style="background-image:url(cat1.jpg);">
<p>Brick House</p></div>

<div style="background-image:url(cat2.jpg);">
<p>Renovated</p></div>
<div style="background-image:url(cat3.jpg);">
<p>Barn House</p></div>
<div style="background-image:url(cat4.jpg);">
<p>Summer House</p></div>
<div style="background-image:url(cat5.jpg);">
<p>Brick House</p></div>
<div style="background-image:url(cat6.jpg);">
<p> Renovated</p></div>
<div style="background-image:url(cat7.jpg);">
<p> Barn House</p></div>

	</section>
<main>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper lacus rutrum ligula imperdiet, sit amet convallis odio pulvinar. Morbi pellentesque, ligula ac aliquam convallis, mauris nunc tincidunt turpis, et congue lorem tortor at massa. Sed interdum risus nec odio finibus, a finibus mi egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce vehicula lacus in velit fermentum, in bibendum libero mollis. Cras vel tortor nibh. Duis vel lectus est. Quisque efficitur, neque quis malesuada feugiat, nunc purus accumsan sem, finibus lacinia tellus tortor non mauris. In a sagittis ipsum, non dapibus ligula. Fusce luctus nibh ac dolor semper ultricies. Praesent non erat consequat, pellentesque dui vel, blandit nisl. Curabitur at elementum turpis. Aenean rutrum massa at lobortis placerat. Nunc tincidunt sed mauris ac consectetur. Duis non ornare velit.</p>
	
</main>
<article>
	
	<div class="ich"></div>
	<h1>Cats</h1>
	<h2> Cute pictures</h2>
	<p>Duis vel lectus est. Quisque efficitur, neque quis malesuada feugiat, nunc purus accumsan sem, finibus lacinia tellus tortor non mauris. In a sagittis ipsum, non dapibus ligula. Fusce luctus nibh ac dolor semper ultricies. Praesent non erat consequat, pellentesque dui vel, blandit nisl. Curabitur at elementum turpis. Aenean rutrum massa at lobortis placerat. Nunc tincidunt sed mauris ac consectetur. Duis non ornare velit.</p>
	<p class="Contact"></p>
</article>

</body>
</html>