nav {
		background-color: white;
		display: flex;
		justify-content: space-between; /* To make space between logo and links*/
		align-items: center;
		padding: 100px;

	}
	nav ul {
		list-style: none;
		font-family:Courgette ;
	}
	nav ul li {
		display: inline-block;
		padding: 50px;
		
	}
	nav ul li a {
		color: black;
		font-size: 10px;
		margin: 1px;
	
		text-decoration: none;
		background-color: white;
		border-radius: 2px; 
	}

	body {
		margin: 0;
	}

		nav img {
		height: 140px;
		border-radius: 50%;

	
		}
		section{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		section div {
			width: 300px;
			height: 300px;
			background-position: center;
			background-size: 500px;
			padding: 20px;
			position: relative;
			margin: 10px;


		
		}
		div p{
			background-color: black;
			color: white;
			padding: 10px;
			position: absolute;
			
			font-size: 13px;
			margin: 0px;



		}
		article{
			margin: 20px;
		}
		article image{
			height: 20px;
			width: 30px;
			background-image: url(cat9.jpg);
			background-size: cover;

		}
		article .ich{
			height: 200px;
			width: 200px;
			background-color: white;
			padding: 10px;
			display: flex;

		}
		article h1{
			font-size: 20px;
		}
		article h2{
			font-size: 15px;
			color: grey;

		}