@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Source+Serif+4:wght@200&family=Supermercado+One&display=swap');

h1{


	font-size: 40px;
	background-color: blueviolet;
	color: blueviolet;
	background-color: beige;
	margin: 20px;
	border: 5px solid blue;
	letter-spacing: 0.5em;
	text-align: center;
	font-family: Source Serif 4;
}
h2{


	font-size: 30px;
	background-color: lightpink;
	color: orange;
	margin:20px;
	letter-spacing: 0.5em;
	text-align: center;
	font-family: Supermercado One;
}

h3{



	font-size: 20px;
	background-color: lightblue;
	border:5px solid blue ;
	color: red;
	margin: 20px;
	letter-spacing: 0.5em;
	text-align: center;
	font-family:Playfair Display;
}

img{


	width: 400px;
	margin: 30px;
	border: 5px dotted red;
}
p   {
	font-size: 25px;
	text-align: justify;
	column-count: 1;
	padding: 30px;
	line-height: 1.5;
	font-family: "EB Garamond";
}
body{
	background-color: beige;
	color: blue;
	margin: 10px;
	background: rgb(64,154,148);
background: linear-gradient(4deg, rgba(64,154,148,1) 11%, rgba(64,154,131,1) 25%, rgba(64,131,154,1) 36%, rgba(64,137,140,1) 44%, rgba(64,154,105,1) 54%, rgba(166,72,161,1) 64%, rgba(157,60,172,1) 73%, rgba(143,40,190,1) 88%);


	
	}

		ol{


	font-size: 20px;
	color: red;
	background-color: lightblue;
	padding: 20px;
	margin:20px ;

		}
		ul{
	font-size: 20px;
	color: red;
	background-color: lightblue;
	padding: 20px;
	margin: 20px;

		}







	
